-- CreateEnum
CREATE TYPE "TaxpayerLinkStatus" AS ENUM ('PENDING', 'ACTIVE', 'REJECTED', 'REVOKED');

-- CreateEnum
CREATE TYPE "TaxpayerPackageStatus" AS ENUM ('RECEIVED', 'DOWNLOADED', 'PROCESSED');

-- CreateTable
CREATE TABLE "TaxpayerLink" (
    "id" TEXT NOT NULL,
    "jewelerUserId" TEXT NOT NULL,
    "accountantUserId" TEXT NOT NULL,
    "status" "TaxpayerLinkStatus" NOT NULL DEFAULT 'PENDING',
    "businessName" TEXT,
    "businessVkn" TEXT,
    "requestNote" TEXT,
    "respondedAt" TIMESTAMP(3),
    "revokedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TaxpayerLink_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TaxpayerPackage" (
    "id" TEXT NOT NULL,
    "linkId" TEXT NOT NULL,
    "schemaVersion" INTEGER NOT NULL DEFAULT 1,
    "period" TEXT,
    "documentCount" INTEGER NOT NULL DEFAULT 0,
    "entryCount" INTEGER NOT NULL DEFAULT 0,
    "payload" JSONB NOT NULL,
    "status" "TaxpayerPackageStatus" NOT NULL DEFAULT 'RECEIVED',
    "downloadedAt" TIMESTAMP(3),
    "processedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TaxpayerPackage_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "TaxpayerLink_accountantUserId_status_idx" ON "TaxpayerLink"("accountantUserId", "status");

-- CreateIndex
CREATE INDEX "TaxpayerLink_jewelerUserId_status_idx" ON "TaxpayerLink"("jewelerUserId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "TaxpayerLink_jewelerUserId_accountantUserId_key" ON "TaxpayerLink"("jewelerUserId", "accountantUserId");

-- CreateIndex
CREATE INDEX "TaxpayerPackage_linkId_status_idx" ON "TaxpayerPackage"("linkId", "status");

-- CreateIndex
CREATE INDEX "TaxpayerPackage_status_createdAt_idx" ON "TaxpayerPackage"("status", "createdAt");

-- CreateIndex
CREATE INDEX "TaxpayerPackage_createdAt_idx" ON "TaxpayerPackage"("createdAt");

-- AddForeignKey
ALTER TABLE "TaxpayerLink" ADD CONSTRAINT "TaxpayerLink_jewelerUserId_fkey" FOREIGN KEY ("jewelerUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaxpayerLink" ADD CONSTRAINT "TaxpayerLink_accountantUserId_fkey" FOREIGN KEY ("accountantUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaxpayerPackage" ADD CONSTRAINT "TaxpayerPackage_linkId_fkey" FOREIGN KEY ("linkId") REFERENCES "TaxpayerLink"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

